/* font link */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Open+Sans:wght@400;800&display=swap') 

body {

    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}


/* banner Section */


.Banner {
    background-repeat: no-repeat;
    margin: 70px 100px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-position: center;
    margin: 0;
}


.intro-text {
    display: flex;
}

#hny {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 225px 0px 0px 0px;
    margin: 0px;
}

#nypc {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* Offer Section */

section {
    padding: 0px;
    margin: 0px;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#offer-txt-1 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding: 20px;
    margin: 0px;

}

#offer-txt-2 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
    margin: 0px;
}

#offer-txt-3 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 0px;
}

/* party section */

.party {
    background-repeat: no-repeat;
    align-items: center;
    margin: 70px 100px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
}

#wc-text{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px; 
padding: 126px 522px 10px 126px;
margin: 0px;
 }

#wc-text-info{
color: rgba(255, 255, 255, 0.80);
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
padding: 10px 500px 0px 126px;
margin: 0;

 }
 #jn-text{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
padding: 10px 500px 0px 200px;
 }
